* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  -webkit-fon-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0px;
  overflow: hidden;
  background-color: black;
  border: 1px solid red;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

div {
  padding: 1px;
  background-color: white;
  border: 1px solid black;
  border-radius: 25px 25px 25px 25px;
  /* border: 3px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;

}

canvas.emscripten {
  /* border: 0px none; */
  background-color: black;
  display: flex;
  border: 1px solid black;
  border-radius: 25px 25px 25px 25px;
  /* clip-path: inset(0px 10px 10px 0px); */
}
